# Comparision between Logistic Regression Model and KNN Classification Model on our dataset

# Data Preprocessing

In [1]:
# Import libaries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import dataset
dataset = pd.read_csv('Logistic Data.csv')

In [3]:
dataset

     Age  Salary  Purchased Plot
0     22   22990               0
1     38   24200               0
2     29   52030               0
3     30   68970               0
4     22   91960               0
..   ...     ...             ...
395   49   49610               1
396   54   27830               1
397   53   24200               1
398   39   39930               0
399   52   43560               1

[400 rows x 3 columns]

In [4]:
# Create feature matrix X and dependent vector Y
X= dataset.iloc[:,:-1].values
Y= dataset.iloc[:,-1].values

In [5]:
# Replacing missing data
from sklearn.impute import SimpleImputer
imputer= SimpleImputer(missing_values=np.nan,strategy='mean')
X= imputer.fit_transform(X)

In [6]:
# Encoding not required

In [7]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X= sc.fit_transform(X)

In [8]:
# Spliting the dataset into training and testing
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest= train_test_split(X,Y,test_size=0.2,random_state=1)

# Building the Logistic Regression Model

In [9]:
# Training the model
from sklearn.linear_model import LogisticRegression
lr= LogisticRegression(random_state=0)
lr.fit(Xtrain,Ytrain)

LogisticRegression(random_state=0)

In [10]:
# Testing the model
Yestimated= lr.predict(Xtest)

In [11]:
# Performance metrics
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score
cm= confusion_matrix(Ytest,Yestimated)
print('Confusion matrix : ')
print(cm)
print('Accuracy score: ',accuracy_score(Ytest,Yestimated))
print('Precision score: ',precision_score(Ytest,Yestimated))
print('Recall score: ',recall_score(Ytest,Yestimated))

Confusion matrix :
[[41  7]
 [ 6 26]]
Accuracy score:  0.8375
Precision score:  0.7878787878787878
Recall score:  0.8125

# Building the KNN Classification Model

In [12]:
# Training the model
from sklearn.neighbors import KNeighborsClassifier
kc= KNeighborsClassifier(n_neighbors=5,weights='uniform',p=2)
kc.fit(Xtrain,Ytrain)

KNeighborsClassifier()

In [13]:
# Testing the model
Yestimated= kc.predict(Xtest)

In [14]:
# Performance metrics
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score
cm= confusion_matrix(Ytest,Yestimated)
print('Confusion matrix : ')
print(cm)
print('Accuracy score: ',accuracy_score(Ytest,Yestimated))
print('Precision score: ',precision_score(Ytest,Yestimated))
print('Recall score: ',recall_score(Ytest,Yestimated))

Confusion matrix :
[[40  8]
 [ 3 29]]
Accuracy score:  0.8625
Precision score:  0.7837837837837838
Recall score:  0.90625